@media (max-width: 600px) {
  .wrapper{
    width: 100%;
    height: 100%;
  }
  .header{
    width: 100%;
    padding: 10px;
  }
  .menu{
    display: none;
  }
  .header-inn .search-icon {
    display: none;
  }
  .swiper-container {
    width: 100%;
    height: 90%;
  }

  .swiper-container .swiper-slide {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 18px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .swiper-container .swiper-slide .slider-bann{
    background-color: #fff;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .slider-bann .slider-bann-inn{
    background-color: #fff;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
  }
  .slider-bann .slider-bann-inn .left-sec{
    width: 100%;
    height: 550px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
  .slider-bann-inn .left-sec .box-red{
    width: 70px;
    height: 18px;
    border-radius: 20px;
    background-color: #f0390f;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .left-sec .box-blue{
    width: 70px;
    height: 18px;
    border-radius: 20px;
    background-color: blue;
    /* padding: 20px; */
    padding-bottom: 18px;
  }
  .slider-bann-inn .left-sec h1{
    /* padding-top: 60px; */
    font-size: 18vw;
    /* line-height: 85px; */
    color: #2b2b2b;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
  }
  .slider-bann-inn .left-sec a{
    font-size: 18px;
    font-family: sans-serif;
    color: #2b2b2b;
    margin: 10px 10px;
    text-align: left;
  }
  .slider-bann-inn .right-sec{
    width: 100%;
    height: 250px;
  }
  .slider-bann-inn .right-sec .bann-img{
    width: 100%;
    height: 154px;
  }
  .slider-bann .slider-bann-inn .right-sec .bann-img img{
    width: 80%;
  }
  .ckating-card{
    background-color: #fff;
  }
  .ckating-in{
    width: 100%;
    height: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ckating-in .cketing-type{
    width: 100%;
    height: 240px;
    padding-top: 40px;
  }
  .ckating-in .cketing-type h1{
    text-align: center;
    font-size: 10vw;
    color: #2b2b2b;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin: 19px;
  }
  .ckating-in .cketing-type p{
    text-align: center;
    font-size: 5.2vw;
    color: #2b2b2b;
    font-family: sans-serif;
  }
  .ckating-in .card-sec{ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-direction: column;
      /* background-color: aqua; */
    width: 100%;
    height: 1312px;
    gap: 30px;
  }
  .ckating-in .card-sec .first-card{
    width: 90%;
    height: 450px;
    background-color: #f0390f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .se-card{
    width: 90%;
    height: 450px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tha-card{
    width: 90%;
    height: 450px;
    background-color: #f0390f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-sec{
    background-color: #1644f9;
    overflow: hidden;
  }
  .about-inn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1644f9;
  }
  .about-inn .ab-left-sec{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    padding: 20px;
  }
  .about-inn .ab-left-sec h1{
    font-size: 14vw;
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 30px;
  }
  .about-inn .ab-left-sec p{
    font-family: sans-serif;
    line-height: 8vw;
    font-size: 14px;
    margin: 10px;
    color: #fff;
    margin-left: 0px;
  }
  .about-inn .ab-left-sec a{
    color: #fff;
    font-family: sans-serif;
    font-size: 6vw;
    margin: 10px;
    font-weight: 600;
  }
  .about-inn .ab-right-sec{
    width: 100%;
    height: 100%;
    /* background-color: #f0390f; */
    position: relative;
  }
  
  .about-inn .ab-right-sec img{
    width: 100%;
    position: relative;
    bottom: 0px;
    right: 0px;
  }
  .skate-shop-inner{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }
  .skate-shop-inner .left{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: 10px;
  }
  .skate-shop-inner .left img{
    width: 100%;
  }
  .skate-shop-inner .right{
    width: 100%;
    height: 100%;
    padding: 29px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
  .skate-shop-inner .right p{
    font-size: 16px;
    font-family: sans-serif;
    color: #2b2b2b;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .skate-shop-inner .right a{
    color: #2b2b2b;
    font-weight: 600;
    font-family: sans-serif;
  }
  .fotter-in{
    width: 100%;
    height: 100%;
    /* background-color: #f0390f; */
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid #f0390f; */
  }
  .fotter-in .box1{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: 10px;
    border-right: 0px solid red;
    padding-top: 10px;
  }
  .fotter-in .box2{
    width: 100%;
    height: 100%;
    align-items: baseline;
  }
 
  .fotter-in .box2 ul{
    text-align: left;
    margin-left: 10px;
  } 
  .fotter-in .box3{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
  .last-footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0390f;
    padding: 26px 10px;
  }
  .last-footer p{
    text-align: center;
  }
  .testimal-tow {
    background-color: #3e0bce;
    }
    .testimal-slide {
      width: 100%;
      height: 1140px;
      overflow: hidden;
      padding: 10px;
    }
    .testimal-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;
    }
    .testimal-container .test-m {
      text-align: center;
      font-family: sans-serif;
      color: #fff;
      padding: 16px;
      padding-bottom: 64px;
      font-size: 10vw; /* Responsive font size */
    }
    .testimal-container .massegbox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 46px;
      width: 100%;
      max-width: 100%;
      height: 709PX;
      flex-wrap: wrap;
    }
    .testimal-container .massegbox .box-one, .box-to, .box-thre {
      width: 250px;
      height: 250px;
      background-color: #f0390f;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
    .testimal-container .massegbox .img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: -42px;
      background-color: #fff;
      background-size: cover;
      background-position: center;
    }
    .testimal-container .massegbox .Disol {
      color: #fff;
      font-size: 8vw;
      margin: 26px 0px;
    }
    .testimal-container .massegbox p {
      text-align: center;
      font-size: 13px;
      margin: 20px;
      font-family: sans-serif;
      color: #fff;
    }
    /* Larger box */
    .testimal-container .massegbox .box-to {
      width: 373px;
      height: 325px;
      background-color: #fff;
      border-radius: 20px;
      justify-content: center;
      position: relative;
    }
    .testimal-container .massegbox .box-to p {
      margin: 10px 6px;
      text-align: center;
      font-family: sans-serif;
      font-size: 4.1vw;
      line-height: 23px;
      color: black;
    }
    .testimal-container .massegbox .box-to .Disol-box-tow{
      color: #000;
    }
    .testimal-container .massegbox .box-to .img-box-two{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 0px;
      margin-top: -100px;
      background-color: #ffff;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 0px 31px -7px #888888;
    }
}