@media (max-width: 600px) {
  .wrapper{
    width: 100%;
    height: 100%;
  }
  .header{
    width: 100%;
  }
  .menu{
    display: none;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-container .swiper-slide {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 18px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .swiper-container .swiper-slide .slider-bann{
    background-color: #fff;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .slider-bann .slider-bann-inn{
    background-color: #fff;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
  }
  .slider-bann .slider-bann-inn .left-sec{
    width: 500px;
    height: 600px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66px;
  }
  .slider-bann-inn .left-sec .box-red{
    width: 70px;
    height: 18px;
    border-radius: 20px;
    background-color: #f0390f;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .left-sec .box-blue{
    width: 70px;
    height: 18px;
    border-radius: 20px;
    background-color: blue;
    /* padding: 20px; */
    padding-bottom: 18px;
  }
  .slider-bann-inn .left-sec h1{
    /* padding-top: 60px; */
    font-size: 5rem;
    /* line-height: 85px; */
    color: #2b2b2b;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
  }
  .slider-bann-inn .left-sec a{
    font-size: 18px;
    font-family: sans-serif;
    color: #2b2b2b;
    margin: 10px 10px;
    text-align: left;
  }
  .slider-bann-inn .right-sec{
    width: 100%;
    height: 600px;
  }
  .slider-bann-inn .right-sec .bann-img{
    width: 100%;
    height: 400px;
  }
  .slider-bann .slider-bann-inn .right-sec .bann-img img{
    width: 400px;
  }
  .ckating-card{
    background-color: #fff;
  }
  .ckating-in{
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ckating-in .cketing-type{
    width: 100%;
    height: 220px;
    padding-top: 40px;
  }
  .ckating-in .cketing-type h1{
    text-align: center;
    font-size: 2.8rem;
    color: #2b2b2b;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin: 19px;
  }
  .ckating-in .cketing-type p{
    text-align: center;
    font-size: 18px;
    color: #2b2b2b;
    font-family: sans-serif;
  }
  .ckating-in .card-sec{ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-direction: column;
      /* background-color: aqua; */
    width: 100%;
    height: 1312px;
    gap: 30px;
  }
  .ckating-in .card-sec .first-card{
    width: 370px;
    height: 450px;
    background-color: #f0390f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .se-card{
    width: 370px;
    height: 450px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tha-card{
    width: 370px;
    height: 450px;
    background-color: #f0390f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}