*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.header{
  background-color: #ffff;
  padding: 27px 45px;
}
.header-inn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inn .menu ul{
  display: flex;
  /* position: absolute; */
  margin-left: 100px;
}
.header-inn .menu ul li{
  list-style: none;
  /* margin: 31px 0px; */
  /* position: absolute; */
}
.header-inn .menu ul li a{
  padding: 15px 30px;
  color: #2b2b2b;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 30px;
  transition: all 0.4s ease;
  font-family: sans-serif;
}
.header-inn .menu ul li a:hover{
  background-color: #f0390f;
  color: aliceblue;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-slide {
  background-color: #f3f3f3;
  text-align: center;
  font-size: 18px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.swiper-container .swiper-slide .slider-bann{
  background-color: #fff;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider-bann .slider-bann-inn{
  width: 1200px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-bann .slider-bann-inn .left-sec{
  width: 500px;
  height: 750px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-bann-inn .left-sec .box-red{
  width: 70px;
  height: 18px;
  border-radius: 20px;
  background-color: #f0390f;
  padding-bottom: 20p;
  margin-bottom: 20px;
  margin-left: 40px;
}
.left-sec .box-blue{
  width: 70px;
  height: 18px;
  border-radius: 20px;
  background-color: blue;
}
.slider-bann-inn .left-sec h1{
  padding-top: 40px;
  font-size: 5rem;
  line-height: 85px;
  color: #2b2b2b;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}
.slider-bann-inn .left-sec a{
  font-size: 18px;
  font-family: sans-serif;
  color: #2b2b2b;
  margin: 50px 10px;
  text-align: left;
}
.slider-bann-inn .right-sec{
  width: 700px;
  height: 750px;
}
.bann-img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f0390f; */
}
.slider-bann .slider-bann-inn .right-sec .bann-img img{
  width: 850px;
}
.ckating-card{
  background-color: #fff;
}
.ckating-in{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ckating-in .cketing-type{
  width: 100%;
  height: 200px;
  padding-top: 70px;
}
.ckating-in .cketing-type h1{
  text-align: center;
  font-size: 60px;
  color: #2b2b2b;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.ckating-in .cketing-type p{
  text-align: center;
  font-size: 20px;
  color: #2b2b2b;
  font-family: sans-serif;
}
.ckating-in .card-sec{ 
  display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    height: 500px;
    gap: 30px;
}
.ckating-in .card-sec .first-card{
  width: 350px;
  height: 450px;
  background-color: #f0390f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ckating-in .card-sec .first-card img{
  width: 100px;
  margin: 20px;
}
.ckating-in .card-sec .first-card h2{
  font-family: sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 10px;
}
.ckating-in .card-sec .first-card p{
  text-align: center;
  color: #ffff;
  font-size: 17px;
  margin: 47px;
  line-height: 32px;
  margin-top: 15px;
  font-family: sans-serif;
}
.se-card{
  width: 350px;
  height: 450px;
  background-color: blue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ckating-in .card-sec .se-card img{
  width: 100px;
  margin: 20px;
}
.ckating-in .card-sec .se-card h2{
  font-family: sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 10px;
}
.ckating-in .card-sec .se-card p{
  text-align: center;
  color: #ffff;
  font-size: 17px;
  margin: 47px;
  line-height: 32px;
  margin-top: 15px;
  font-family: sans-serif;
}
.tha-card{
  width: 350px;
  height: 450px;
  background-color: #f0390f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ckating-in .card-sec .tha-card img{
  width: 100px;
  margin: 20px;
}
.ckating-in .card-sec .tha-card h2{
  font-family: sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 10px;
}
.ckating-in .card-sec .tha-card p{
  text-align: center;
  color: #ffff;
  font-size: 17px;
  margin: 47px;
  line-height: 32px;
  margin-top: 15px;
  font-family: sans-serif;
}
.about-sec{
  background-image: url(../image/about_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.about-inn{
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
}
.about-inn .ab-left-sec{
  width: 50%;
  height: 700px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 212px;
}
.about-inn .ab-left-sec h1{
  font-size: 60px;
  font-family: sans-serif;
  color: #fff;
}
.about-inn .ab-left-sec p{
  font-family: sans-serif;
  line-height: 20px;
  font-size: 14px;
  margin: 10px;
  color: #fff;
  margin-left: 0px;
}
.about-inn .ab-left-sec a{
  color: #fff;
}
.about-inn .ab-right-sec{
  width: 50%;
  height: 750px;
  /* background-color: #f0390f; */
  position: relative;
}

.about-inn .ab-right-sec img{
  width: 677px;
  position: absolute;
  bottom: 12px;
  right: 20px;
}
.skate-shop{
  background-color: #fff;
}
.skate-shop-inner{
  width: 100%;
  height: 780px;
  display: flex;
}
.skate-shop-inner .left{
  width: 50%;
  height: 780px;
  padding: 20px;
  padding-left: 90px;
}
.skate-shop-inner .left img{
  width: 666px;
}
.skate-shop-inner .right{
  width: 50%;
  height: 780px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.skate-shop-inner .right h1{
  color: #2b2b2b;
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.skate-shop-inner .right p{
  font-size: 18px;
  font-family: cursive;
  color: #2b2b2b;
  line-height: 28px;
  margin-bottom: 20px;
}
.footer{
  background-color: #fff;
}
.fotter-in{
  width: 100%;
  height: 300px;
  background-color: #f0390f;
  display: flex;
  border-top: 1px solid #f0390f;
}
.fotter-in .box1{
  width: 600px;
  height: 300px;
  background-color: #fff;
  padding-left: 200px;
  border-right: 1px solid red;
  padding-top: 50px;
}
.fotter-in .box1 h1{
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 27px;
}
.fotter-in .box1 p{
  font-family: sans-serif;
  margin-bottom: 30px;
}
.fotter-in .box2{
  width: 400px;
  height: 300px;
  background-color: #fff;
  padding-top: 50px;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fotter-in .box2 h1{
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 27px;
}
.fotter-in .box2 p{
  font-family: sans-serif;
  margin-bottom: 10px;
}
.fotter-in .box2 ul{
  text-align: center;
}
.fotter-in .box2 ul li{
  list-style: none;
}
.fotter-in .box2 ul li a{
  font-family: sans-serif;
  color: #2b2b2b;
  margin: 0px;
  display: inline-block;
  font-size: 18px;
  padding: 4px;
  transition: all 0.3s ease;
}
.fotter-in .box2 ul li a:hover{
  color: #f0390f;
}
.fotter-in .box3{
  width: 520px;
  height: 300px;
  background-color: #fff;
  padding-left: 20px;
  /* border-right: 1px solid red; */
  padding-top: 50px;
  padding-right: 100px;
}
.fotter-in .box3 h1{
  font-family: sans-serif;
  font-size: 32px;
  margin-bottom: 27px;
}
.fotter-in .box3 p{
  font-family: sans-serif;
  margin-bottom: 10px;
}
.last-footer{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0390f;
}
.last-footer p{
  color: #fff;
  font-family: sans-serif;
}